@import "tailwindcss";
/* src/index.css */
body.light {
  background-color: #f5f5f5;
  color: #111;
}

body.dark {
  background-color: #111;
  color: #f5f5f5;
}

/* optional: buttons */
.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.btn-light {
  background: #eee;
  color: #111;
}
.btn-dark {
  background: #333;
  color: #fff;
}
/* width screens */
@theme {
  --breakpoint-xs: 320px;   /* موبايل صغير جداً */
  --breakpoint-sm: 480px;   /* موبايل متوسط */
  --breakpoint-sml: 500px;  /* موبايل كبير */
  --breakpoint-md: 667px;   /* موبايل كبير جداً أو فابلت */
  --breakpoint-lg: 768px;   /* تابلت صغير */
  --breakpoint-lgl: 1024px; /* لابتوب صغير أو تابلت أفقي */
  --breakpoint-xl: 1280px;  /* لابتوب متوسط أو شاشة مكتب */
  --breakpoint-2xl: 1536px; /* شاشة كبيرة أو شاشة Full HD */
}